html{
	font-size:150%;
	box-sizing:border-box;
}
body{
	display:flex;
	align-items:center;
	height:100vh;
	margin:0;
	justify-content:center;
	background-image:  linear-gradient(to left, #b70569, #acb6e5);
}
.container > p{
	font-size:1.3em;
	font-family:verdana;
	padding-right:0;
	padding-left:0;
	text-align:center;
	color:#fff;
}
.calculator{
	max-width:50em;
	border-radius:10px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
	margin-left:auto;
	margin-right:auto;
	margin-top:2em;
	margin-bottom:4em;
}
.calculator_display{
	border-radius:10px 10px 0 0px;
	background-color:#ccc;
	padding:0.2em 0.2em;
	color:#fff;
	text-align:right;
	padding:0.5em 1.25em;

}
.calculator_keys{
	position:relative;
	text-align:center;
	padding:0.5em 1.25em;
	background-color:darkgrey;
	border-radius:  0 0px 10px 10px;
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:3px;
	
}
.equal--key{
	grid-columns:-2;
	grid-row:2/ span 5;
}
button{
	font-family:consolas;
	border-style:groove;
	border-width:3px;
	border-color:violet;
	font-weight:bold;
	border-radius:0 8px 0 8px;
	font-size:20px;
	background-color:white;
}

button:hover{
	background-color:skyblue;
	color:#fff;
}

.is-pressed{
	background-color:goldenrod;
	color:white;
}

.container{
	max-width:500px;
}